body {
  margin: 0;
  font-family: "Lucida Grande";
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 1);
  /* Ubah position ke fixed, dan top ke 0 */
  position: fixed;
  top: 0;
  /* Ubah z-index ke 10 */
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
  color:#fff;
  font-size: 20px;
}

.header-left {
  float: left;
}

.lesson-wrapper {
  text-align: center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  /* color: #5f5d60; */
}

.heading h2 {
  font-weight: normal;
}

input {
    padding: 8px 25px;
    color: #fff;
    background-color: #548CFF;
    display: inline-block;
    opacity: 0.8;
    font-weight: bold;
    border-width: 0px;
    border-radius: 5px;
}

input:hover{
    opacity: 1;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 90px;
  width: 100%;
  color: white;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color: #b3aeb5;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}